body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-div{
    border: 0.5rem solid black;
    width: 40rem;
    height: 48rem;
    margin-top: 1rem;
    border-radius: 2rem; 
    background-color: grey;
}

#display-container{
    border: 0.3rem solid black;
    background-color: #C0C0C0;
    width: 33rem;
    height: 7rem;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    align-items: flex-end;
    font-size: 2rem;
    justify-content:flex-end;
    flex-direction: column;
    border-radius: 2rem; 
}

#buttons-container{
    /* border: 0.3rem solid black; */
    margin: 1rem auto;
    width: 35rem;
    height: 38rem;
    /* gap: 2rem; */
    
}

#numbers-container{
    margin-right: 2rem;
    border: 0.2rem solid blue;
}

#upper-numbers-container{
    border: 0.2rem solid purple;
    display: block;
    margin-right: 2rem;
}

.row-container{
    /* border: 0.3rem solid yellow; */
    /* margin: 1vh auto; */
    width: 33rem;
    height: 6rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

}

/* #clear-button #backspace-button #sign-button{
    margin-left: 6.6rem;
    width: 2*5rem;
} */

.calculator-button{
    border: 0.3rem solid black;
    width: 6.7rem;
    height: 6.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-weight: bold; */
    font-size: 4rem;
    border-radius: 1.5rem; 
    padding: 0;
    /* margin-top: 5rem; */
}

#clear-button{
    width: 14.9rem; /* 2*6.7 + 1.5 */
    /* margin-left: 1.8rem; */
}
