body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-div{
    border: 0.5rem solid black;
    width: 40rem;
    height: 60rem;
    margin-top: 20vh;
}

#display-container{
    border: 0.3rem solid black;
    width: 35rem;
    height: 10rem;
    margin: auto;
    margin-top: 1vh;
    /* margin: 0.5rem; */
}

#buttons-container{
    border: 0.3rem solid black;
    margin: 1vh auto;
    width: 35rem;
    height: 45rem;
}

.row-container{
    border: 0.3rem solid grey;
    /* margin: 1vh auto; */
    width: 33rem;
    height: 9rem;
    margin: auto;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

}

.calculator-button{
    border: 0.3rem solid green;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-weight: bold; */
    font-size: 5rem;
}
