body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-div{
    border: 0.5rem solid black;
    width: 40rem;
    height: 48rem;
    margin-top: 1rem;
}

#display-container{
    border: 0.3rem solid black;
    width: 35rem;
    height: 7rem;
    margin: auto;
    margin-top: 0.5rem;
    display: flex;
    align-items: flex-end;
    font-size: 2rem;
    justify-content:flex-end;
    flex-direction: column;
}

#buttons-container{
    border: 0.3rem solid black;
    margin: 1rem auto;
    width: 35rem;
    height: 38rem;
}

#numbers-container{
    margin-right: 2rem;
    border: 0.2rem solid blue;
}

#upper-numbers-container{
    border: 0.2rem solid purple;
    display: block;
    margin-right: 2rem;
}

.row-container{
    border: 0.3rem solid grey;
    /* margin: 1vh auto; */
    width: 33rem;
    height: 6rem;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

}

/* #clear-button #backspace-button #sign-button{
    margin-left: 6.6rem;
    width: 2*5rem;
} */

.calculator-button{
    border: 0.3rem solid green;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-weight: bold; */
    font-size: 4rem;
}

#clear-button{
    width: 11.5rem;
    /* margin-left: 1.8rem; */
}
